.flex-container {
    
    display: flex;
    border: 1px solid black;
    width: 300px;
    height:300px ;
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}
.flex-item {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    opacity: 0.8;

}

.color1{ background-color: aquamarine;}
.color2 {background-color: rgb(75, 122, 13);}
.color3 {background-color: aqua;}
.color4 {background-color: rgb(0, 255, 0);}
.color5 {background-color: rgb(163, 32, 120);}
 /* св-во флекс флоу позволяет установить значение для обоих свойств флекс дирекшн и флекс врап синтаксис: flex-flow: flex-direction:, flex-wrap: */